In [2]:
import pandas as pd

In [3]:
sale_2022 = pd.read_csv('./2019_상권별_매출_1차가공.csv', encoding='EUC-KR')
sale_2022

,상권_코드,연도_분기,점포수,분기당_매출_금액,분기당_매출_건수,주말_매출_금액,주말_매출_건수,주중_매출_금액,주중_매출_건수,시간대_00~06_매출_금액,...,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수
0,1001491,2019_2분기,1599,102083170176,4441275,44766913881,2004774,57316256295,2436501,17650544715,...,15407127747,18169120880,29454327815,17305589370,971166,277152,598188,669709,1140530,784530
1,1001492,2019_2분기,7846,392306973005,16655824,84341907910,3388811,307965065095,13267013,3525648833,...,119303974511,99865466295,111627695682,31468108878,180088,2385613,5451618,3706300,3891596,1040609
2,1001493,2019_2분기,12994,204760984791,6077340,72902937985,1861725,131858046806,4215615,23274343998,...,33539547441,46438403031,56841306732,34910524441,595337,574678,1117839,1229527,1674341,885618
3,1001494,2019_2분기,5313,172469071750,6280385,41093828642,1518417,131375243108,4761968,4599861885,...,44691980132,45517952331,47913479733,18484413563,225781,708437,1752419,1314164,1629558,650026
4,1001495,2019_2분기,1952,152732007138,7978513,55835671807,2914005,96896335331,5064508,7777702296,...,28970419345,34066557263,53190803643,20244168279,364563,752341,1669688,1743960,2461305,986656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,2130322,2019_2분기,207,4915668137,312544,1340541486,90002,3575126651,222542,133182110,...,863411854,1126898941,1764302173,458900684,9459,31182,49248,63320,121773,37562
1643,2130323,2019_2분기,330,9494074543,422786,2875077028,126755,6618997515,296031,328576306,...,1706128412,2231824189,3389838856,1048600602,14175,32752,75634,98389,157803,44033
1644,2130324,2019_2분기,192,4607059662,199121,1342266070,56381,3264793592,142740,594188,...,1011789786,1190505660,1854181708,261521275,102,17110,44049,51593,78492,7775
1645,2130325,2019_2분기,157,3793840824,223786,1122917537,67660,2670923287,156126,23010819,...,785784491,957672877,1296731299,196916245,568,25102,45467,56783,83982,11884
1646,2130326,2019_2분기,108,4114167938,269300,891822491,58062,3222345447,211238,5362147,...,1097670681,1044476586,1153759043,133933646,410,51411,67212,64115,76677,9475

In [29]:
location = pd.read_csv('./서울시 상업지역 위치정보_가공.csv', encoding='EUC-KR')
location

     상권_구분_코드_명    상권_코드       상권_코드_명  엑스좌표_값  와이좌표_값
0          골목상권  2110753   시흥동 은행나무사거리  191934  438813
1          골목상권  2110427    노원 을지대학교병원  206265  459431
2          골목상권  2110755      동일여자고등학교  192300  439070
3          골목상권  2110739    시흥3동 우편취급국  191289  438014
4          골목상권  2111017      송파나루역 3번  210222  445516
...         ...      ...           ...     ...     ...
1666       관광특구  1001493  동대문패션타운 관광특구  200974  451975
1667       관광특구  1001494    종로?청계 관광특구  199768  452273
1668       관광특구  1001495       잠실 관광특구  210191  446339
1669       관광특구  1001496   강남 마이스 관광특구  205310  445727
1670       관광특구  1001491      이태원 관광특구  199503  448326

[1671 rows x 5 columns]

# 생각지도 못한 문제 -> 좌표값이 위도 경도가 아니다
https://m.blog.naver.com/wideeyed/221243506770

# 우선 좌표값을 변환

In [8]:
pip install pyproj

Collecting pyproj
  Downloading pyproj-3.4.0-cp38-cp38-win_amd64.whl (4.8 MB)
     ---------------------------------------- 4.8/4.8 MB 51.5 MB/s eta 0:00:00
Requirement already satisfied: certifi in c:\python\envs\opencv\lib\site-packages (from pyproj) (2022.9.24)
Installing collected packages: pyproj
Successfully installed pyproj-3.4.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
from pyproj import Proj, transform
import numpy as np

In [13]:
a = Proj(init = 'epsg:5181')
b = Proj(init = 'epsg:4326')

C:\python\envs\opencv\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\python\envs\opencv\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [46]:
x1, y1 = location['엑스좌표_값'][0], location['와이좌표_값'][0]
x2, y2 = transform(a, b, x1, y1)
print(x2, y2)

x1, y1 = location['엑스좌표_값'][1], location['와이좌표_값'][2]
x2, y2 = transform(a, b, x1, y1)
print(x2, y2)

126.90884426244729 37.448687252791416
127.07080441739771 37.45101680197938

C:\Users\김두엽\AppData\Local\Temp\ipykernel_35496\848434292.py:2: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x2, y2 = transform(a, b, x1, y1)
C:\Users\김두엽\AppData\Local\Temp\ipykernel_35496\848434292.py:6: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x2, y2 = transform(a, b, x1, y1)

In [15]:
import folium

In [21]:
my_map = folium.Map(location=[37.5502, 126.982], zoom_start=11, title="Stamen Toner")
folium.Marker(
            location = [37.448687252791416, 126.90884426244729 ],
             popup = "여기",
            icon = folium.Icon(color = "blue")
        ).add_to(my_map)

In [22]:
my_map

# 잘찍어낸다. 오키

In [61]:
location = pd.read_csv('./서울시 상업지역 위치정보_가공.csv', encoding='EUC-KR')
location

     상권_구분_코드_명    상권_코드       상권_코드_명  엑스좌표_값  와이좌표_값
0          골목상권  2110753   시흥동 은행나무사거리  191934  438813
1          골목상권  2110427    노원 을지대학교병원  206265  459431
2          골목상권  2110755      동일여자고등학교  192300  439070
3          골목상권  2110739    시흥3동 우편취급국  191289  438014
4          골목상권  2111017      송파나루역 3번  210222  445516
...         ...      ...           ...     ...     ...
1666       관광특구  1001493  동대문패션타운 관광특구  200974  451975
1667       관광특구  1001494    종로?청계 관광특구  199768  452273
1668       관광특구  1001495       잠실 관광특구  210191  446339
1669       관광특구  1001496   강남 마이스 관광특구  205310  445727
1670       관광특구  1001491      이태원 관광특구  199503  448326

[1671 rows x 5 columns]

In [62]:
location["long"] = 0.
location["lat"] = 0.
location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1671 entries, 0 to 1670
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   상권_구분_코드_명  1671 non-null   object
 1   상권_코드       1671 non-null   int64
 2   상권_코드_명     1671 non-null   object
 3   엑스좌표_값      1671 non-null   int64
 4   와이좌표_값      1671 non-null   int64
 5   long        1671 non-null   float64
 6   lat         1671 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 91.5+ KB

In [63]:
a = Proj(init = 'epsg:5181')
b = Proj(init = 'epsg:4326')

for i in range(len(location)):
    x1, y1 = location['엑스좌표_값'][i], location['와이좌표_값'][i]
    x2, y2 = transform(a, b, x1, y1)
    locaiton["long"][i] = x2
    locaiton["lat"][i] = y2

locaiton

C:\python\envs\opencv\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\python\envs\opencv\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\김두엽\AppData\Local\Temp\ipykernel_35496\1666745083.py:6: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x2, y2 = transform(a, b, x1, y1)

     상권_구분_코드_명    상권_코드       상권_코드_명  엑스좌표_값  와이좌표_값        long        lat
0          골목상권  2110753   시흥동 은행나무사거리  191934  438813  126.908844  37.448687
1          골목상권  2110427    노원 을지대학교병원  206265  459431  127.070978  37.634469
2          골목상권  2110755      동일여자고등학교  192300  439070  126.912978  37.451006
3          골목상권  2110739    시흥3동 우편취급국  191289  438014  126.901564  37.441482
4          골목상권  2111017      송파나루역 3번  210222  445516  127.115614  37.509060
...         ...      ...           ...     ...     ...         ...        ...
1666       관광특구  1001493  동대문패션타운 관광특구  200974  451975  127.011025  37.567312
1667       관광특구  1001494    종로?청계 관광특구  199768  452273  126.997374  37.569998
1668       관광특구  1001495       잠실 관광특구  210191  446339  127.115275  37.516476
1669       관광특구  1001496   강남 마이스 관광특구  205310  445727  127.060059  37.511003
1670       관광특구  1001491      이태원 관광특구  199503  448326  126.994377  37.534435

[1671 rows x 7 columns]

In [64]:
locaiton = locaiton.drop(['엑스좌표_값', '와이좌표_값'], axis=1)
locaiton

     상권_구분_코드_명    상권_코드       상권_코드_명        long        lat
0          골목상권  2110753   시흥동 은행나무사거리  126.908844  37.448687
1          골목상권  2110427    노원 을지대학교병원  127.070978  37.634469
2          골목상권  2110755      동일여자고등학교  126.912978  37.451006
3          골목상권  2110739    시흥3동 우편취급국  126.901564  37.441482
4          골목상권  2111017      송파나루역 3번  127.115614  37.509060
...         ...      ...           ...         ...        ...
1666       관광특구  1001493  동대문패션타운 관광특구  127.011025  37.567312
1667       관광특구  1001494    종로?청계 관광특구  126.997374  37.569998
1668       관광특구  1001495       잠실 관광특구  127.115275  37.516476
1669       관광특구  1001496   강남 마이스 관광특구  127.060059  37.511003
1670       관광특구  1001491      이태원 관광특구  126.994377  37.534435

[1671 rows x 5 columns]

In [78]:
locaiton.to_csv('./상권 위치좌표_최종.csv', encoding='EUC-KR', index=False)

In [119]:
sale = pd.read_csv('./2019_상권별_매출_1차가공.csv', encoding='EUC-KR')
sale

,상권_코드,연도_분기,점포수,분기당_매출_금액,분기당_매출_건수,주말_매출_금액,주말_매출_건수,주중_매출_금액,주중_매출_건수,시간대_00~06_매출_금액,...,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수
0,1001491,2019_2분기,1599,102083170176,4441275,44766913881,2004774,57316256295,2436501,17650544715,...,15407127747,18169120880,29454327815,17305589370,971166,277152,598188,669709,1140530,784530
1,1001492,2019_2분기,7846,392306973005,16655824,84341907910,3388811,307965065095,13267013,3525648833,...,119303974511,99865466295,111627695682,31468108878,180088,2385613,5451618,3706300,3891596,1040609
2,1001493,2019_2분기,12994,204760984791,6077340,72902937985,1861725,131858046806,4215615,23274343998,...,33539547441,46438403031,56841306732,34910524441,595337,574678,1117839,1229527,1674341,885618
3,1001494,2019_2분기,5313,172469071750,6280385,41093828642,1518417,131375243108,4761968,4599861885,...,44691980132,45517952331,47913479733,18484413563,225781,708437,1752419,1314164,1629558,650026
4,1001495,2019_2분기,1952,152732007138,7978513,55835671807,2914005,96896335331,5064508,7777702296,...,28970419345,34066557263,53190803643,20244168279,364563,752341,1669688,1743960,2461305,986656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,2130322,2019_2분기,207,4915668137,312544,1340541486,90002,3575126651,222542,133182110,...,863411854,1126898941,1764302173,458900684,9459,31182,49248,63320,121773,37562
1643,2130323,2019_2분기,330,9494074543,422786,2875077028,126755,6618997515,296031,328576306,...,1706128412,2231824189,3389838856,1048600602,14175,32752,75634,98389,157803,44033
1644,2130324,2019_2분기,192,4607059662,199121,1342266070,56381,3264793592,142740,594188,...,1011789786,1190505660,1854181708,261521275,102,17110,44049,51593,78492,7775
1645,2130325,2019_2분기,157,3793840824,223786,1122917537,67660,2670923287,156126,23010819,...,785784491,957672877,1296731299,196916245,568,25102,45467,56783,83982,11884
1646,2130326,2019_2분기,108,4114167938,269300,891822491,58062,3222345447,211238,5362147,...,1097670681,1044476586,1153759043,133933646,410,51411,67212,64115,76677,9475

In [120]:
sale_location = pd.merge(sale, locaiton, left_on='상권_코드', right_on='상권_코드', how='left')
sale_location

,상권_코드,연도_분기,점포수,분기당_매출_금액,분기당_매출_건수,주말_매출_금액,주말_매출_건수,주중_매출_금액,주중_매출_건수,시간대_00~06_매출_금액,...,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,상권_구분_코드_명,상권_코드_명,long,lat
0,1001491,2019_2분기,1599,102083170176,4441275,44766913881,2004774,57316256295,2436501,17650544715,...,971166,277152,598188,669709,1140530,784530,관광특구,이태원 관광특구,126.994377,37.534435
1,1001492,2019_2분기,7846,392306973005,16655824,84341907910,3388811,307965065095,13267013,3525648833,...,180088,2385613,5451618,3706300,3891596,1040609,관광특구,명동 남대문 북창동 다동 무교동 관광특구,126.981856,37.564149
2,1001493,2019_2분기,12994,204760984791,6077340,72902937985,1861725,131858046806,4215615,23274343998,...,595337,574678,1117839,1229527,1674341,885618,관광특구,동대문패션타운 관광특구,127.011025,37.567312
3,1001494,2019_2분기,5313,172469071750,6280385,41093828642,1518417,131375243108,4761968,4599861885,...,225781,708437,1752419,1314164,1629558,650026,관광특구,종로?청계 관광특구,126.997374,37.569998
4,1001495,2019_2분기,1952,152732007138,7978513,55835671807,2914005,96896335331,5064508,7777702296,...,364563,752341,1669688,1743960,2461305,986656,관광특구,잠실 관광특구,127.115275,37.516476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,2130322,2019_2분기,207,4915668137,312544,1340541486,90002,3575126651,222542,133182110,...,9459,31182,49248,63320,121773,37562,전통시장,고분다리전통시장,127.133023,37.542208
1643,2130323,2019_2분기,330,9494074543,422786,2875077028,126755,6618997515,296031,328576306,...,14175,32752,75634,98389,157803,44033,전통시장,둔촌역전통시장,127.134310,37.527818
1644,2130324,2019_2분기,192,4607059662,199121,1342266070,56381,3264793592,142740,594188,...,102,17110,44049,51593,78492,7775,전통시장,길동복조리시장,127.143563,37.538925
1645,2130325,2019_2분기,157,3793840824,223786,1122917537,67660,2670923287,156126,23010819,...,568,25102,45467,56783,83982,11884,전통시장,명일전통시장,127.145337,37.549293
1646,2130326,2019_2분기,108,4114167938,269300,891822491,58062,3222345447,211238,5362147,...,410,51411,67212,64115,76677,9475,전통시장,고덕 골목형상점가,127.170060,37.557946

In [121]:
sale_gage = pd.read_csv('./2019_상권별 개점_폐업.csv', encoding='EUC-KR')
sale_gage = sale_gage.drop(['연도_분기'], axis=1)

In [122]:
sale_location_gage  = pd.merge(sale_location, sale_gage, left_on='상권_코드', right_on='상권_코드', how='left')
sale_location_gage

,상권_코드,연도_분기,점포수,분기당_매출_금액,분기당_매출_건수,주말_매출_금액,주말_매출_건수,주중_매출_금액,주중_매출_건수,시간대_00~06_매출_금액,...,상권_코드_명,long,lat,개업_점포_수,기준_년_코드,기준_분기_코드,유사_업종_점포_수,점포_수,폐업_점포_수,프랜차이즈_점포_수
0,1001491,2019_2분기,1599,102083170176,4441275,44766913881,2004774,57316256295,2436501,17650544715,...,이태원 관광특구,126.994377,37.534435,53,163539,162,1791,1720,59,71
1,1001492,2019_2분기,7846,392306973005,16655824,84341907910,3388811,307965065095,13267013,3525648833,...,명동 남대문 북창동 다동 무교동 관광특구,126.981856,37.564149,143,179691,178,9143,8631,227,512
2,1001493,2019_2분기,12994,204760984791,6077340,72902937985,1861725,131858046806,4215615,23274343998,...,동대문패션타운 관광특구,127.011025,37.567312,103,177672,176,13483,13270,332,213
3,1001494,2019_2분기,5313,172469071750,6280385,41093828642,1518417,131375243108,4761968,4599861885,...,종로?청계 관광특구,126.997374,37.569998,120,189786,188,5787,5552,127,235
4,1001495,2019_2분기,1952,152732007138,7978513,55835671807,2914005,96896335331,5064508,7777702296,...,잠실 관광특구,127.115275,37.516476,68,187767,186,2391,2192,93,199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,2130322,2019_2분기,207,4915668137,312544,1340541486,90002,3575126651,222542,133182110,...,고분다리전통시장,127.133023,37.542208,6,82779,82,135,128,9,7
1643,2130323,2019_2분기,330,9494074543,422786,2875077028,126755,6618997515,296031,328576306,...,둔촌역전통시장,127.134310,37.527818,10,90855,90,209,200,6,9
1644,2130324,2019_2분기,192,4607059662,199121,1342266070,56381,3264793592,142740,594188,...,길동복조리시장,127.143563,37.538925,9,90855,90,124,119,6,5
1645,2130325,2019_2분기,157,3793840824,223786,1122917537,67660,2670923287,156126,23010819,...,명일전통시장,127.145337,37.549293,5,68646,68,101,96,5,5
1646,2130326,2019_2분기,108,4114167938,269300,891822491,58062,3222345447,211238,5362147,...,고덕 골목형상점가,127.170060,37.557946,1,72684,72,74,70,2,4

In [123]:
sale_location_gage = sale_location_gage.drop(['기준_년_코드', '기준_분기_코드', '점포수', '상권_구분_코드_명', ], axis=1)

In [124]:
sale_location_gage.columns

Index(['상권_코드', '연도_분기', '분기당_매출_금액', '분기당_매출_건수', '주말_매출_금액', '주말_매출_건수',
       '주중_매출_금액', '주중_매출_건수', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액',
       '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액',
       '시간대_21~24_매출_금액', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수',
       '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수',
       '시간대_건수~24_매출_건수', '상권_코드_명', 'long', 'lat', '개업_점포_수', '유사_업종_점포_수',
       '점포_수', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [125]:
sale_location_gage = sale_location_gage[[ '연도_분기', '상권_코드_명', '상권_코드',  '점포_수', 'long', 'lat', '분기당_매출_금액', '분기당_매출_건수', '주말_매출_금액', '주말_매출_건수',
       '주중_매출_금액', '주중_매출_건수', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', 
       '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수',
       '시간대_건수~24_매출_건수',  '개업_점포_수',  '폐업_점포_수', '유사_업종_점포_수', '프랜차이즈_점포_수' ]]

In [126]:
sale_location_gage

,연도_분기,상권_코드_명,상권_코드,점포_수,long,lat,분기당_매출_금액,분기당_매출_건수,주말_매출_금액,주말_매출_건수,...,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,개업_점포_수,폐업_점포_수,유사_업종_점포_수,프랜차이즈_점포_수
0,2019_2분기,이태원 관광특구,1001491,1720,126.994377,37.534435,102083170176,4441275,44766913881,2004774,...,971166,277152,598188,669709,1140530,784530,53,59,1791,71
1,2019_2분기,명동 남대문 북창동 다동 무교동 관광특구,1001492,8631,126.981856,37.564149,392306973005,16655824,84341907910,3388811,...,180088,2385613,5451618,3706300,3891596,1040609,143,227,9143,512
2,2019_2분기,동대문패션타운 관광특구,1001493,13270,127.011025,37.567312,204760984791,6077340,72902937985,1861725,...,595337,574678,1117839,1229527,1674341,885618,103,332,13483,213
3,2019_2분기,종로?청계 관광특구,1001494,5552,126.997374,37.569998,172469071750,6280385,41093828642,1518417,...,225781,708437,1752419,1314164,1629558,650026,120,127,5787,235
4,2019_2분기,잠실 관광특구,1001495,2192,127.115275,37.516476,152732007138,7978513,55835671807,2914005,...,364563,752341,1669688,1743960,2461305,986656,68,93,2391,199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,2019_2분기,고분다리전통시장,2130322,128,127.133023,37.542208,4915668137,312544,1340541486,90002,...,9459,31182,49248,63320,121773,37562,6,9,135,7
1643,2019_2분기,둔촌역전통시장,2130323,200,127.134310,37.527818,9494074543,422786,2875077028,126755,...,14175,32752,75634,98389,157803,44033,10,6,209,9
1644,2019_2분기,길동복조리시장,2130324,119,127.143563,37.538925,4607059662,199121,1342266070,56381,...,102,17110,44049,51593,78492,7775,9,6,124,5
1645,2019_2분기,명일전통시장,2130325,96,127.145337,37.549293,3793840824,223786,1122917537,67660,...,568,25102,45467,56783,83982,11884,5,5,101,5
1646,2019_2분기,고덕 골목형상점가,2130326,70,127.170060,37.557946,4114167938,269300,891822491,58062,...,410,51411,67212,64115,76677,9475,1,2,74,4

In [127]:
sale_location_gage.to_csv('./2019상권데이터 최종.csv', encoding='EUC-KR', index=False)