In [61]:
import pandas as pd

In [62]:
seoul_bus_stop_commute = pd.read_csv('./seoul_bus_commute.csv', encoding = 'EUC-KR')
seoul_bus_stop_commute

/tmp/ipykernel_8677/184622970.py:1: DtypeWarning: Columns (4,55) have mixed types. Specify dtype option on import or set low_memory=False.
  seoul_bus_stop_commute = pd.read_csv('./seoul_bus_commute.csv', encoding = 'EUC-KR')

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
0,202210,741,741번(진관차고지~헌인릉입구),100000001,1001,종로2가사거리(00077),122,85,95,123,...,212,234,139,207,177,199,134,10,서울간선버스,20221103
1,202210,N37,N37번(진관공영차고지~송파공영차고지),100000001,1001,종로2가사거리(00089),0,0,0,0,...,0,0,0,0,0,0,0,51,서울심야버스,20221103
2,202210,N37,N37번(송파공영차고지~진관공영차고지),100000001,1001,종로2가사거리(00032),6,5,319,232,...,0,0,0,0,0,0,0,51,서울심야버스,20221103
3,202210,470,470번(상암차고지~안골마을),100000001,1001,종로2가사거리(00067),59,54,5,3,...,243,320,206,290,229,238,143,10,서울간선버스,20221103
4,202210,104,104번(강북청소년수련관난나~숭례문),100000002,1002,창경궁.서울대학교병원(00024),0,0,0,0,...,49,62,83,37,41,31,20,10,서울간선버스,20221103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),104000098,5191,국민은행자양지점앞,0,0,0,0,...,996,174,847,129,914,29,373,0,NaN,20210703
639996,202106,2415,2415번(자양동~대치동),104000098,5191,국민은행자양지점앞,0,0,0,0,...,17,192,18,235,21,32,4,0,NaN,20210703
639997,202106,2221,2221번(자양동~신설동),104000098,5191,국민은행자양지점앞,0,0,0,0,...,8,376,9,337,10,100,2,0,NaN,20210703
639998,202106,2412,2412번(성수동~세곡동사거리),104000098,5191,국민은행자양지점앞,0,0,0,0,...,376,147,365,187,533,3,34,0,NaN,20210703
639999,202106,광진05,광진05(신자초등학교~강변역),104000100,5193,자양아파트앞,0,0,0,0,...,413,217,382,140,452,56,154,0,NaN,20210703

In [63]:
seoul_bus_stop_commute = seoul_bus_stop_commute.drop(['표준버스정류장ID', '버스정류장ARS번호', '등록일자'], axis = 1 )
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,308,212,234,139,207,177,199,134,10,서울간선버스
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,0,0,0,0,0,0,0,0,51,서울심야버스
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,0,0,0,0,0,0,0,0,51,서울심야버스
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,380,243,320,206,290,229,238,143,10,서울간선버스
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,289,49,62,83,37,41,31,20,10,서울간선버스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,174,996,174,847,129,914,29,373,0,NaN
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,244,17,192,18,235,21,32,4,0,NaN
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,369,8,376,9,337,10,100,2,0,NaN
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,276,376,147,365,187,533,3,34,0,NaN
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,223,413,217,382,140,452,56,154,0,NaN

In [64]:
seoul_bus_stop_commute['출근시간(04~09) 승차'] = seoul_bus_stop_commute['4시승차총승객수'] + seoul_bus_stop_commute['5시승차총승객수'] + \
                                            seoul_bus_stop_commute['6시승차총승객수'] + seoul_bus_stop_commute['7시승차총승객수']  + \
                                            seoul_bus_stop_commute['8시승차총승객수'] + seoul_bus_stop_commute['9시승차총승객수']
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,출근시간(04~09) 승차
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,212,234,139,207,177,199,134,10,서울간선버스,1295
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,0,0,0,0,0,0,0,51,서울심야버스,88
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,0,0,0,0,0,0,0,51,서울심야버스,0
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,243,320,206,290,229,238,143,10,서울간선버스,1887
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,49,62,83,37,41,31,20,10,서울간선버스,1449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,996,174,847,129,914,29,373,0,NaN,3295
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,17,192,18,235,21,32,4,0,NaN,5225
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,8,376,9,337,10,100,2,0,NaN,5591
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,376,147,365,187,533,3,34,0,NaN,5154
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,413,217,382,140,452,56,154,0,NaN,2400

In [65]:
seoul_bus_stop_commute['출근시간(07~10) 하차'] = seoul_bus_stop_commute['7시하차총승객수'] + seoul_bus_stop_commute['8시하차총승객수'] + \
                                            seoul_bus_stop_commute['9시하차총승객수'] + seoul_bus_stop_commute['10시하차총승객수']                                          
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,234,139,207,177,199,134,10,서울간선버스,1295,1552
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,0,0,0,0,0,0,51,서울심야버스,88,0
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,0,0,0,0,0,0,51,서울심야버스,0,0
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,320,206,290,229,238,143,10,서울간선버스,1887,1476
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,62,83,37,41,31,20,10,서울간선버스,1449,2666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,174,847,129,914,29,373,0,NaN,3295,1024
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,192,18,235,21,32,4,0,NaN,5225,112
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,376,9,337,10,100,2,0,NaN,5591,236
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,147,365,187,533,3,34,0,NaN,5154,651
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,217,382,140,452,56,154,0,NaN,2400,1278

In [66]:
seoul_bus_stop_commute['퇴근시간(16~20) 승차'] = seoul_bus_stop_commute['16시승차총승객수'] + seoul_bus_stop_commute['17시승차총승객수'] + \
                                            seoul_bus_stop_commute['18시승차총승객수'] + seoul_bus_stop_commute['19시승차총승객수']  + \
                                            seoul_bus_stop_commute['20시승차총승객수']
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,139,207,177,199,134,10,서울간선버스,1295,1552,1555
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,0,0,0,0,0,51,서울심야버스,88,0,0
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,0,0,0,0,0,51,서울심야버스,0,0,0
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,206,290,229,238,143,10,서울간선버스,1887,1476,1804
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,83,37,41,31,20,10,서울간선버스,1449,2666,1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,847,129,914,29,373,0,NaN,3295,1024,1603
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,18,235,21,32,4,0,NaN,5225,112,1498
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,9,337,10,100,2,0,NaN,5591,236,2927
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,365,187,533,3,34,0,NaN,5154,651,1508
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,382,140,452,56,154,0,NaN,2400,1278,1897

In [67]:
seoul_bus_stop_commute['퇴근시간(17~21) 하차'] = seoul_bus_stop_commute['17시하차총승객수'] + seoul_bus_stop_commute['18시하차총승객수'] + \
                                            seoul_bus_stop_commute['19시하차총승객수'] + seoul_bus_stop_commute['20시하차총승객수']   + \
                                            seoul_bus_stop_commute['21시하차총승객수']
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,207,177,199,134,10,서울간선버스,1295,1552,1555,1878
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,0,0,0,0,51,서울심야버스,88,0,0,0
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,0,0,0,0,51,서울심야버스,0,0,0,0
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,290,229,238,143,10,서울간선버스,1887,1476,1804,1938
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,37,41,31,20,10,서울간선버스,1449,2666,1500,346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,129,914,29,373,0,NaN,3295,1024,1603,4987
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,235,21,32,4,0,NaN,5225,112,1498,111
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,337,10,100,2,0,NaN,5591,236,2927,106
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,187,533,3,34,0,NaN,5154,651,1508,2258
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,140,452,56,154,0,NaN,2400,1278,1897,2190

In [68]:
seoul_bus_stop_commute['점심시간'] = seoul_bus_stop_commute['출근시간(07~10) 하차'] - seoul_bus_stop_commute['11시승차총승객수'] -\
                                    seoul_bus_stop_commute['12시승차총승객수'] + seoul_bus_stop_commute['12시하차총승객수'] + \
                                    seoul_bus_stop_commute['1시하차총승객수']
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,177,199,134,10,서울간선버스,1295,1552,1555,1878,1402
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,0,0,0,51,서울심야버스,88,0,0,0,0
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,0,0,0,51,서울심야버스,0,0,0,0,232
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,229,238,143,10,서울간선버스,1887,1476,1804,1938,883
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,41,31,20,10,서울간선버스,1449,2666,1500,346,2554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,914,29,373,0,NaN,3295,1024,1603,4987,680
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,21,32,4,0,NaN,5225,112,1498,111,-852
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,10,100,2,0,NaN,5591,236,2927,106,-1112
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,533,3,34,0,NaN,5154,651,1508,2258,-87
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,452,56,154,0,NaN,2400,1278,1897,2190,859

In [69]:
seoul_bus_stop_commute['저녁시간'] = seoul_bus_stop_commute['출근시간(07~10) 하차'] - seoul_bus_stop_commute['17시승차총승객수'] -\
                                    seoul_bus_stop_commute['18시승차총승객수'] - seoul_bus_stop_commute['19시승차총승객수'] - \
                                    seoul_bus_stop_commute['20시승차총승객수'] - seoul_bus_stop_commute['17시하차총승객수'] -\
                                    seoul_bus_stop_commute['18시하차총승객수'] - seoul_bus_stop_commute['19시하차총승객수'] - \
                                    seoul_bus_stop_commute['20시하차총승객수']
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,199,134,10,서울간선버스,1295,1552,1555,1878,1402,-1447
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,0,0,51,서울심야버스,88,0,0,0,0,0
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,0,0,51,서울심야버스,0,0,0,0,232,0
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,238,143,10,서울간선버스,1887,1476,1804,1938,883,-1754
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,31,20,10,서울간선버스,1449,2666,1500,346,2554,1229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,29,373,0,NaN,3295,1024,1603,4987,680,-4315
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,32,4,0,NaN,5225,112,1498,111,-852,-1078
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,100,2,0,NaN,5591,236,2927,106,-1112,-2024
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,3,34,0,NaN,5154,651,1508,2258,-87,-2362
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,56,154,0,NaN,2400,1278,1897,2190,859,-1888

In [70]:
seoul_bus_stop_commute['늦은시간(20~00) 승차'] = seoul_bus_stop_commute['20시승차총승객수'] + seoul_bus_stop_commute['21시승차총승객수'] + \
                                            seoul_bus_stop_commute['22시승차총승객수'] + seoul_bus_stop_commute['23시승차총승객수']  + \
                                            seoul_bus_stop_commute['00시승차총승객수']
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,23시하차총승객수,교통수단타입코드,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,134,10,서울간선버스,1295,1552,1555,1878,1402,-1447,1070
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,0,51,서울심야버스,88,0,0,0,0,0,0
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,0,51,서울심야버스,0,0,0,0,232,0,6
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,143,10,서울간선버스,1887,1476,1804,1938,883,-1754,1287
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,20,10,서울간선버스,1449,2666,1500,346,2554,1229,419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,373,0,NaN,3295,1024,1603,4987,680,-4315,506
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,4,0,NaN,5225,112,1498,111,-852,-1078,703
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,2,0,NaN,5591,236,2927,106,-1112,-2024,1182
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,34,0,NaN,5154,651,1508,2258,-87,-2362,613
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,154,0,NaN,2400,1278,1897,2190,859,-1888,636

In [71]:
seoul_bus_stop_commute['늦은시간(21~02) 하차'] = seoul_bus_stop_commute['21시하차총승객수'] + seoul_bus_stop_commute['22시하차총승객수'] + \
                                            seoul_bus_stop_commute['23시하차총승객수'] + seoul_bus_stop_commute['00시하차총승객수']  + \
                                            seoul_bus_stop_commute['1시하차총승객수'] + seoul_bus_stop_commute['2시하차총승객수']
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,교통수단타입코드,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,10,서울간선버스,1295,1552,1555,1878,1402,-1447,1070,658
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,51,서울심야버스,88,0,0,0,0,0,0,73
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,51,서울심야버스,0,0,0,0,232,0,6,392
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,10,서울간선버스,1887,1476,1804,1938,883,-1754,1287,635
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,10,서울간선버스,1449,2666,1500,346,2554,1229,419,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,0,NaN,3295,1024,1603,4987,680,-4315,506,2134
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,0,NaN,5225,112,1498,111,-852,-1078,703,43
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,0,NaN,5591,236,2927,106,-1112,-2024,1182,21
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,0,NaN,5154,651,1508,2258,-87,-2362,613,932
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,0,NaN,2400,1278,1897,2190,859,-1888,636,988

In [72]:
seoul_bus_stop_commute['총 승차 인원'] = seoul_bus_stop_commute['00시승차총승객수']
for i in range(1,24):
    STR = str(i) + "시승차총승객수"
    seoul_bus_stop_commute['총 승차 인원'] = seoul_bus_stop_commute['총 승차 인원'] + seoul_bus_stop_commute[STR]

seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,서울간선버스,1295,1552,1555,1878,1402,-1447,1070,658,5622
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,서울심야버스,88,0,0,0,0,0,0,73,393
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,서울심야버스,0,0,0,0,232,0,6,392,466
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,서울간선버스,1887,1476,1804,1938,883,-1754,1287,635,7645
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,서울간선버스,1449,2666,1500,346,2554,1229,419,144,4373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,NaN,3295,1024,1603,4987,680,-4315,506,2134,7412
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,NaN,5225,112,1498,111,-852,-1078,703,43,10162
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,NaN,5591,236,2927,106,-1112,-2024,1182,21,13690
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,NaN,5154,651,1508,2258,-87,-2362,613,932,9630
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,NaN,2400,1278,1897,2190,859,-1888,636,988,6721

In [73]:
seoul_bus_stop_commute['총 하차 인원'] = seoul_bus_stop_commute['00시하차총승객수']
for i in range(1,24):
    STR = str(i) + "시하차총승객수"
    seoul_bus_stop_commute['총 하차 인원'] = seoul_bus_stop_commute['총 하차 인원'] + seoul_bus_stop_commute[STR]

seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,...,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원,총 하차 인원
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),122,85,95,123,0,0,...,1295,1552,1555,1878,1402,-1447,1070,658,5622,6619
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),0,0,0,0,87,73,...,88,0,0,0,0,0,0,73,393,354
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),6,5,319,232,141,155,...,0,0,0,0,232,0,6,392,466,392
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),59,54,5,3,0,0,...,1887,1476,1804,1938,883,-1754,1287,635,7645,6872
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),0,0,0,0,0,0,...,1449,2666,1500,346,2554,1229,419,144,4373,5461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,0,0,0,0,0,...,3295,1024,1603,4987,680,-4315,506,2134,7412,10079
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,0,0,0,0,0,...,5225,112,1498,111,-852,-1078,703,43,10162,399
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,0,0,0,0,0,...,5591,236,2927,106,-1112,-2024,1182,21,13690,547
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,0,0,0,0,0,...,5154,651,1508,2258,-87,-2362,613,932,9630,5216
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,0,0,0,0,0,...,2400,1278,1897,2190,859,-1888,636,988,6721,5818

In [74]:
seoul_bus_stop_commute = seoul_bus_stop_commute.drop(['00시승차총승객수', '00시하차총승객수'], axis = 1 )
for i in range(1,24):
    STR = str(i) + "시승차총승객수"
    STR_2 = str(i) + "시하차총승객수"
    seoul_bus_stop_commute = seoul_bus_stop_commute.drop([STR, STR_2], axis = 1 )

seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,교통수단타입코드,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원,총 하차 인원
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),10,서울간선버스,1295,1552,1555,1878,1402,-1447,1070,658,5622,6619
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),51,서울심야버스,88,0,0,0,0,0,0,73,393,354
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),51,서울심야버스,0,0,0,0,232,0,6,392,466,392
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),10,서울간선버스,1887,1476,1804,1938,883,-1754,1287,635,7645,6872
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),10,서울간선버스,1449,2666,1500,346,2554,1229,419,144,4373,5461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,0,NaN,3295,1024,1603,4987,680,-4315,506,2134,7412,10079
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,0,NaN,5225,112,1498,111,-852,-1078,703,43,10162,399
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,0,NaN,5591,236,2927,106,-1112,-2024,1182,21,13690,547
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,0,NaN,5154,651,1508,2258,-87,-2362,613,932,9630,5216
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,0,NaN,2400,1278,1897,2190,859,-1888,636,988,6721,5818

In [75]:
seoul_bus_stop_commute = seoul_bus_stop_commute.drop(['교통수단타입코드'], axis = 1 )
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원,총 하차 인원
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),서울간선버스,1295,1552,1555,1878,1402,-1447,1070,658,5622,6619
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),서울심야버스,88,0,0,0,0,0,0,73,393,354
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),서울심야버스,0,0,0,0,232,0,6,392,466,392
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),서울간선버스,1887,1476,1804,1938,883,-1754,1287,635,7645,6872
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),서울간선버스,1449,2666,1500,346,2554,1229,419,144,4373,5461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,NaN,3295,1024,1603,4987,680,-4315,506,2134,7412,10079
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,NaN,5225,112,1498,111,-852,-1078,703,43,10162,399
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,NaN,5591,236,2927,106,-1112,-2024,1182,21,13690,547
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,NaN,5154,651,1508,2258,-87,-2362,613,932,9630,5216
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,NaN,2400,1278,1897,2190,859,-1888,636,988,6721,5818

In [76]:
#seoul_bus_stop_commute["연도"] =  seoul_bus_stop_commute["사용년월"].str[:4]
seoul_bus_stop_commute.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640000 entries, 0 to 639999
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   사용년월            640000 non-null  int64
 1   노선번호            640000 non-null  object
 2   노선명             640000 non-null  object
 3   역명              640000 non-null  object
 4   교통수단타입명         162055 non-null  object
 5   출근시간(04~09) 승차  640000 non-null  int64
 6   출근시간(07~10) 하차  640000 non-null  int64
 7   퇴근시간(16~20) 승차  640000 non-null  int64
 8   퇴근시간(17~21) 하차  640000 non-null  int64
 9   점심시간            640000 non-null  int64
 10  저녁시간            640000 non-null  int64
 11  늦은시간(20~00) 승차  640000 non-null  int64
 12  늦은시간(21~02) 하차  640000 non-null  int64
 13  총 승차 인원         640000 non-null  int64
 14  총 하차 인원         640000 non-null  int64
dtypes: int64(11), object(4)
memory usage: 73.2+ MB

In [77]:
seoul_bus_stop_commute = seoul_bus_stop_commute.astype({'사용년월' : 'string'})

In [78]:
seoul_bus_stop_commute["연도"] =  seoul_bus_stop_commute["사용년월"].str[:4]
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원,총 하차 인원,연도
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리(00077),서울간선버스,1295,1552,1555,1878,1402,-1447,1070,658,5622,6619,2022
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),서울심야버스,88,0,0,0,0,0,0,73,393,354,2022
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),서울심야버스,0,0,0,0,232,0,6,392,466,392,2022
3,202210,470,470번(상암차고지~안골마을),종로2가사거리(00067),서울간선버스,1887,1476,1804,1938,883,-1754,1287,635,7645,6872,2022
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원(00024),서울간선버스,1449,2666,1500,346,2554,1229,419,144,4373,5461,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,NaN,3295,1024,1603,4987,680,-4315,506,2134,7412,10079,2021
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,NaN,5225,112,1498,111,-852,-1078,703,43,10162,399,2021
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,NaN,5591,236,2927,106,-1112,-2024,1182,21,13690,547,2021
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,NaN,5154,651,1508,2258,-87,-2362,613,932,9630,5216,2021
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,NaN,2400,1278,1897,2190,859,-1888,636,988,6721,5818,2021

In [85]:
for i in range(len(seoul_bus_stop_commute)):
    if seoul_bus_stop_commute['역명'][i][len(seoul_bus_stop_commute['역명'][i])-1:] == ')':
        seoul_bus_stop_commute_tmp['역명'][i] = seoul_bus_stop_commute_tmp['역명'][i][:(len(seoul_bus_stop_commute_tmp['역명'][i])-7)]

/tmp/ipykernel_8677/4138503587.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_bus_stop_commute_tmp['역명'][i] = seoul_bus_stop_commute_tmp['역명'][i][:(len(seoul_bus_stop_commute_tmp['역명'][i])-7)]

In [86]:
seoul_bus_stop_commute

,사용년월,노선번호,노선명,역명,교통수단타입명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원,총 하차 인원,연도
0,202210,741,741번(진관차고지~헌인릉입구),종로2가사거리,서울간선버스,1295,1552,1555,1878,1402,-1447,1070,658,5622,6619,2022
1,202210,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리,서울심야버스,88,0,0,0,0,0,0,73,393,354,2022
2,202210,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리,서울심야버스,0,0,0,0,232,0,6,392,466,392,2022
3,202210,470,470번(상암차고지~안골마을),종로2가사거리,서울간선버스,1887,1476,1804,1938,883,-1754,1287,635,7645,6872,2022
4,202210,104,104번(강북청소년수련관난나~숭례문),창경궁.서울대학교병원,서울간선버스,1449,2666,1500,346,2554,1229,419,144,4373,5461,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,광진05,광진05(신자초등학교~강변역),국민은행자양지점앞,NaN,3295,1024,1603,4987,680,-4315,506,2134,7412,10079,2021
639996,202106,2415,2415번(자양동~대치동),국민은행자양지점앞,NaN,5225,112,1498,111,-852,-1078,703,43,10162,399,2021
639997,202106,2221,2221번(자양동~신설동),국민은행자양지점앞,NaN,5591,236,2927,106,-1112,-2024,1182,21,13690,547,2021
639998,202106,2412,2412번(성수동~세곡동사거리),국민은행자양지점앞,NaN,5154,651,1508,2258,-87,-2362,613,932,9630,5216,2021
639999,202106,광진05,광진05(신자초등학교~강변역),자양아파트앞,NaN,2400,1278,1897,2190,859,-1888,636,988,6721,5818,2021

In [88]:
seoul_bus_stop_commute = seoul_bus_stop_commute.drop(['노선번호', '노선명', '교통수단타입명'], axis = 1 )
seoul_bus_stop_commute

,사용년월,역명,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간(20~00) 승차,늦은시간(21~02) 하차,총 승차 인원,총 하차 인원,연도
0,202210,종로2가사거리,1295,1552,1555,1878,1402,-1447,1070,658,5622,6619,2022
1,202210,종로2가사거리,88,0,0,0,0,0,0,73,393,354,2022
2,202210,종로2가사거리,0,0,0,0,232,0,6,392,466,392,2022
3,202210,종로2가사거리,1887,1476,1804,1938,883,-1754,1287,635,7645,6872,2022
4,202210,창경궁.서울대학교병원,1449,2666,1500,346,2554,1229,419,144,4373,5461,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
639995,202106,국민은행자양지점앞,3295,1024,1603,4987,680,-4315,506,2134,7412,10079,2021
639996,202106,국민은행자양지점앞,5225,112,1498,111,-852,-1078,703,43,10162,399,2021
639997,202106,국민은행자양지점앞,5591,236,2927,106,-1112,-2024,1182,21,13690,547,2021
639998,202106,국민은행자양지점앞,5154,651,1508,2258,-87,-2362,613,932,9630,5216,2021
639999,202106,자양아파트앞,2400,1278,1897,2190,859,-1888,636,988,6721,5818,2021