In [335]:
import pandas as pd
sub_2022 = pd.read_csv('./metro_2019_10_location.csv', encoding='EUC-KR')
sub_2022

,Unnamed: 0,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,0,201910,9호선,흑석,65143,62697,99114,98430,62468,48166,56582,332193,337982,10,2019,37.508770,126.963708
1,1,201910,6호선,효창공원앞,66258,43822,70940,60161,40597,35808,32825,243329,221626,10,2019,37.539261,126.961351
2,2,201910,경의선,효창공원앞,18808,24894,36943,25435,25263,20817,15383,97364,106201,10,2019,37.539261,126.961351
3,3,201910,4호선,회현,40413,305129,467241,91555,385553,185660,37378,996448,1060470,10,2019,37.558514,126.978246
4,4,201910,경원선,회룡,180355,41343,60587,169198,20455,68431,84346,436831,422445,10,2019,37.724846,127.046895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,432,201910,경부선,가산디지털단지,60879,170842,267757,103725,182306,132696,46679,523298,610571,10,2019,37.481072,126.882343
433,433,201910,7호선,가산디지털단지,78866,395297,714564,127277,424169,263525,48660,1229607,1223519,10,2019,37.481072,126.882343
434,434,201910,3호선,가락시장,77365,45275,89474,94395,38756,42075,46568,314088,307058,10,2019,37.492522,127.118234
435,435,201910,8호선,가락시장,41913,53410,80753,76684,55110,46648,33537,250431,282660,10,2019,37.492522,127.118234
436,436,201910,우이신설선,4.19민주묘지,27133,19218,33175,27797,19227,16037,15516,112950,108788,10,2019,37.649500,127.013700

In [336]:
sub_2022["호선명"].value_counts()

5호선         50
2호선         50
7호선         48
6호선         38
3호선         34
4호선         26
9호선         25
경의선         21
경원선         19
8호선         17
분당선         15
9호선2~3단계    13
경부선         13
우이신설선       13
일산선         10
1호선         10
중앙선          9
경인선          9
경춘선          6
공항철도 1호선     6
과천선          5
Name: 호선명, dtype: int64

In [337]:
sub_2022.loc[sub_2022['호선명'] == "과천선", '호선명'] = "4호선"

In [338]:
sub_2022["호선명"].value_counts()

5호선         50
2호선         50
7호선         48
6호선         38
3호선         34
4호선         31
9호선         25
경의선         21
경원선         19
8호선         17
분당선         15
9호선2~3단계    13
경부선         13
우이신설선       13
일산선         10
1호선         10
중앙선          9
경인선          9
경춘선          6
공항철도 1호선     6
Name: 호선명, dtype: int64

In [339]:
sub_2022.loc[sub_2022['호선명'] == "경인선", '호선명'] = "1호선"
sub_2022.loc[sub_2022['호선명'] == "경부선", '호선명'] = "1호선"

In [340]:
sub_2022["호선명"].value_counts()

5호선         50
2호선         50
7호선         48
6호선         38
3호선         34
1호선         32
4호선         31
9호선         25
경의선         21
경원선         19
8호선         17
분당선         15
우이신설선       13
9호선2~3단계    13
일산선         10
중앙선          9
공항철도 1호선     6
경춘선          6
Name: 호선명, dtype: int64

In [341]:
sub_2022.loc[sub_2022['호선명'] == "중앙선", '호선명'] = "경의중앙선"

In [342]:
sub_2022["호선명"].value_counts()

5호선         50
2호선         50
7호선         48
6호선         38
3호선         34
1호선         32
4호선         31
9호선         25
경의선         21
경원선         19
8호선         17
분당선         15
우이신설선       13
9호선2~3단계    13
일산선         10
경의중앙선        9
공항철도 1호선     6
경춘선          6
Name: 호선명, dtype: int64

In [343]:
sub_2022.loc[sub_2022['호선명'] == "9호선2~3단계", '호선명'] = "9호선"

In [344]:
sub_2022.loc[sub_2022['호선명'] == "경의선", '호선명'] = "경의중앙선"

In [345]:
sub_2022.loc[sub_2022['호선명'] == "일산선", '호선명'] = "3호선"

In [346]:
sub_2022["호선명"].value_counts()

5호선         50
2호선         50
7호선         48
3호선         44
9호선         38
6호선         38
1호선         32
4호선         31
경의중앙선       30
경원선         19
8호선         17
분당선         15
우이신설선       13
공항철도 1호선     6
경춘선          6
Name: 호선명, dtype: int64

In [347]:
sub_2022.to_csv('./metro_2019_10_location.csv', encoding='EUC-KR', index=False)
sub_2022

,Unnamed: 0,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,0,201910,9호선,흑석,65143,62697,99114,98430,62468,48166,56582,332193,337982,10,2019,37.508770,126.963708
1,1,201910,6호선,효창공원앞,66258,43822,70940,60161,40597,35808,32825,243329,221626,10,2019,37.539261,126.961351
2,2,201910,경의중앙선,효창공원앞,18808,24894,36943,25435,25263,20817,15383,97364,106201,10,2019,37.539261,126.961351
3,3,201910,4호선,회현,40413,305129,467241,91555,385553,185660,37378,996448,1060470,10,2019,37.558514,126.978246
4,4,201910,경원선,회룡,180355,41343,60587,169198,20455,68431,84346,436831,422445,10,2019,37.724846,127.046895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,432,201910,1호선,가산디지털단지,60879,170842,267757,103725,182306,132696,46679,523298,610571,10,2019,37.481072,126.882343
433,433,201910,7호선,가산디지털단지,78866,395297,714564,127277,424169,263525,48660,1229607,1223519,10,2019,37.481072,126.882343
434,434,201910,3호선,가락시장,77365,45275,89474,94395,38756,42075,46568,314088,307058,10,2019,37.492522,127.118234
435,435,201910,8호선,가락시장,41913,53410,80753,76684,55110,46648,33537,250431,282660,10,2019,37.492522,127.118234
436,436,201910,우이신설선,4.19민주묘지,27133,19218,33175,27797,19227,16037,15516,112950,108788,10,2019,37.649500,127.013700