# 가공한 데이터에 위치정보를 삽입하는 과정을 보입니다.
- 서울시 지하철 위도경도 데이터를 사용했습니다.

In [146]:
import pandas as pd

In [147]:
metro_2022_10 = pd.read_csv('./metro_2022.csv')
metro_2022_10 = metro_2022_10.sort_values(by='지하철역', ascending=False)

In [148]:
metro_location = pd.read_csv('./station_location.csv', encoding="EUC-KR")
metro_location

        line      name    code        lat         lng
0       01호선        녹양  1908.0  37.759380  127.042292
1       01호선        남영  1002.0  37.541021  126.971300
2       01호선        용산  1003.0  37.529849  126.964561
3       01호선       노량진  1004.0  37.514219  126.942454
4       01호선        대방  1005.0  37.513342  126.926382
..       ...       ...     ...        ...         ...
719      신림선     보라매병원  3401.0  37.490200  126.927600
720      신림선   서울대벤처타운  3402.0  37.472000  126.933900
721      신림선   서울지방병무청  3403.0  37.472000  126.933900
722      신림선        서원  3404.0  37.478300  126.933000
723  우이신설경전철  4.19민주묘지  3405.0  37.649500  127.013700

[724 rows x 5 columns]

In [149]:
for i in range(len(metro_2022_10)):
    if metro_2022_10['지하철역'][i][-1] == ')':
        split = metro_2022_10['지하철역'][i].split('(')
        metro_2022_10['지하철역'][i] = split[0]
        print(metro_2022_10['지하철역'][i])

청량리
강변
교대
구의
낙성대
대림
동대문역사문화공원
삼성
서울대입구
왕십리
용두
잠실
충정로
경복궁
교대
남부터미널
양재
동대문역사문화공원
동작
미아
성신여대입구
수유
숙대입구
이촌
총신대입구
한성대입구
회현
광나루
광화문
군자
굽은다리
동대문역사문화공원
신정
아차산
오목교
올림픽공원
왕십리
천호
충정로
하남시청
고려대
광흥창
녹사평
대흥
봉화산
상월곡
새절
안암
월곡
월드컵경기장
증산
화랑대
공릉
군자
대림
상봉
숭실대입구
어린이대공원
온수
용마산
남한산성입구
몽촌토성
잠실
천호
동작
마곡나루
흑석
올림픽공원
왕십리
이촌
청량리
온수
마곡나루
관악산
성신여대입구
신창
쌍용
상봉

C:\Users\김두엽\AppData\Local\Temp\ipykernel_32244\828184867.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_2022_10['지하철역'][i] = split[0]

In [150]:
metro_2022_10_file =pd.merge(metro_2022_10, metro_location , left_on='지하철역', right_on='name', how='left')
metro_2022_10_file

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,line,name,code,lat,lng
0,202210,9호선,흑석,54931,53301,81702,81208,53412,35553,37242,273661,278426,10,2022,09호선,흑석,4119.0,37.508770,126.963708
1,202210,경의선,효창공원앞,19655,21537,33229,24689,21944,17407,13602,90735,99249,10,2022,06호선,효창공원앞,2628.0,37.539261,126.961351
2,202210,경의선,효창공원앞,19655,21537,33229,24689,21944,17407,13602,90735,99249,10,2022,경의선,효창공원앞,1261.0,37.539261,126.961351
3,202210,6호선,효창공원앞,61192,39437,64600,58864,35996,30046,28665,221619,206279,10,2022,06호선,효창공원앞,2628.0,37.539261,126.961351
4,202210,6호선,효창공원앞,61192,39437,64600,58864,35996,30046,28665,221619,206279,10,2022,경의선,효창공원앞,1261.0,37.539261,126.961351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,202210,8호선,가락시장,37426,48359,71155,61923,49401,40174,24963,218030,242681,10,2022,08호선,가락시장,2818.0,37.492522,127.118234
846,202210,3호선,가락시장,61056,44240,76234,73089,40509,36952,31820,256152,253412,10,2022,03호선,가락시장,340.0,37.492522,127.118234
847,202210,3호선,가락시장,61056,44240,76234,73089,40509,36952,31820,256152,253412,10,2022,08호선,가락시장,2818.0,37.492522,127.118234
848,202210,경원선,가능,70367,27085,40172,69986,19142,28315,32013,203552,195747,10,2022,01호선,가능,1907.0,37.748577,127.044213
849,202210,우이신설선,4.19민주묘지,27665,16797,33932,26165,17415,11308,13644,114239,108826,10,2022,우이신설경전철,4.19민주묘지,3405.0,37.649500,127.013700

In [151]:
metro_2022_10_file_2 = metro_2022_10_file.drop(["line", "name", "code"], axis=1)
metro_2022_10_file_2

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,202210,9호선,흑석,54931,53301,81702,81208,53412,35553,37242,273661,278426,10,2022,37.508770,126.963708
1,202210,경의선,효창공원앞,19655,21537,33229,24689,21944,17407,13602,90735,99249,10,2022,37.539261,126.961351
2,202210,경의선,효창공원앞,19655,21537,33229,24689,21944,17407,13602,90735,99249,10,2022,37.539261,126.961351
3,202210,6호선,효창공원앞,61192,39437,64600,58864,35996,30046,28665,221619,206279,10,2022,37.539261,126.961351
4,202210,6호선,효창공원앞,61192,39437,64600,58864,35996,30046,28665,221619,206279,10,2022,37.539261,126.961351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,202210,8호선,가락시장,37426,48359,71155,61923,49401,40174,24963,218030,242681,10,2022,37.492522,127.118234
846,202210,3호선,가락시장,61056,44240,76234,73089,40509,36952,31820,256152,253412,10,2022,37.492522,127.118234
847,202210,3호선,가락시장,61056,44240,76234,73089,40509,36952,31820,256152,253412,10,2022,37.492522,127.118234
848,202210,경원선,가능,70367,27085,40172,69986,19142,28315,32013,203552,195747,10,2022,37.748577,127.044213
849,202210,우이신설선,4.19민주묘지,27665,16797,33932,26165,17415,11308,13644,114239,108826,10,2022,37.649500,127.013700

In [152]:
metro_2022_10_file_3 = metro_2022_10_file_2.drop_duplicates(['호선명', '지하철역'])
metro_2022_10_file_3

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,202210,9호선,흑석,54931,53301,81702,81208,53412,35553,37242,273661,278426,10,2022,37.508770,126.963708
1,202210,경의선,효창공원앞,19655,21537,33229,24689,21944,17407,13602,90735,99249,10,2022,37.539261,126.961351
3,202210,6호선,효창공원앞,61192,39437,64600,58864,35996,30046,28665,221619,206279,10,2022,37.539261,126.961351
5,202210,4호선,회현,26095,247505,365489,61824,305703,157103,18577,746376,771983,10,2022,37.558514,126.978246
6,202210,경원선,회룡,155874,37024,52100,152665,20594,57891,66456,383494,379285,10,2022,37.724846,127.046895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
842,202210,경부선,가산디지털단지,54534,159397,242111,91578,168761,109569,41888,456467,542963,10,2022,37.481072,126.882343
844,202210,8호선,가락시장,37426,48359,71155,61923,49401,40174,24963,218030,242681,10,2022,37.492522,127.118234
846,202210,3호선,가락시장,61056,44240,76234,73089,40509,36952,31820,256152,253412,10,2022,37.492522,127.118234
848,202210,경원선,가능,70367,27085,40172,69986,19142,28315,32013,203552,195747,10,2022,37.748577,127.044213
849,202210,우이신설선,4.19민주묘지,27665,16797,33932,26165,17415,11308,13644,114239,108826,10,2022,37.649500,127.013700

In [153]:
metro_2022_10_file_3 = metro_2022_10_file_3.reset_index()
metro_2022_10_file_3 = metro_2022_10_file_3.drop(['index'], axis = 1)
metro_2022_10_file_3 = metro_2022_10_file_3.reset_index()
metro_2022_10_file_3

,index,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,0,202210,9호선,흑석,54931,53301,81702,81208,53412,35553,37242,273661,278426,10,2022,37.508770,126.963708
1,1,202210,경의선,효창공원앞,19655,21537,33229,24689,21944,17407,13602,90735,99249,10,2022,37.539261,126.961351
2,2,202210,6호선,효창공원앞,61192,39437,64600,58864,35996,30046,28665,221619,206279,10,2022,37.539261,126.961351
3,3,202210,4호선,회현,26095,247505,365489,61824,305703,157103,18577,746376,771983,10,2022,37.558514,126.978246
4,4,202210,경원선,회룡,155874,37024,52100,152665,20594,57891,66456,383494,379285,10,2022,37.724846,127.046895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,610,202210,경부선,가산디지털단지,54534,159397,242111,91578,168761,109569,41888,456467,542963,10,2022,37.481072,126.882343
611,611,202210,8호선,가락시장,37426,48359,71155,61923,49401,40174,24963,218030,242681,10,2022,37.492522,127.118234
612,612,202210,3호선,가락시장,61056,44240,76234,73089,40509,36952,31820,256152,253412,10,2022,37.492522,127.118234
613,613,202210,경원선,가능,70367,27085,40172,69986,19142,28315,32013,203552,195747,10,2022,37.748577,127.044213
614,614,202210,우이신설선,4.19민주묘지,27665,16797,33932,26165,17415,11308,13644,114239,108826,10,2022,37.649500,127.013700

# 파일을 확인해보니 들어가지 않은 값들이 있다. 이건 수작업이다. ㅠㅠ

# 여기서 서울이 아닌 지역에 있는 데이터를 싹 날린다.

In [154]:
a = metro_2022_10_file_3[metro_2022_10_file_3['lng'] < 126.75]
a

,index,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
16,16,202210,수인선,호구포,24296,30657,46317,28543,27707,20341,14678,119793,121608,10,2022,37.401637,126.708627
62,62,202210,공항철도 1호선,청라국제도시,70357,22922,52160,75317,15493,24448,45885,203473,192983,10,2022,37.555878,126.625327
92,92,202210,경인선,주안,174025,72122,139983,190933,55101,75558,104626,591527,534062,10,2022,37.464941,126.679923
100,100,202210,경인선,제물포,102139,47342,80803,99810,37267,45692,56217,323585,307527,10,2022,37.466769,126.656666
103,103,202210,안산선,정왕,59172,81419,107874,74906,80294,62668,38528,295017,302282,10,2022,37.351735,126.742989
116,116,202210,경의선,임진강,25,1030,1000,70,805,376,0,1741,1377,10,2022,37.888400,126.746900
119,119,202210,수인선,인하대,55209,32957,56169,63347,32326,25107,26304,207008,196953,10,2022,37.448493,126.649619
120,120,202210,수인선,인천논현,43963,30360,44173,57751,30480,27411,21491,167082,177033,10,2022,37.400614,126.722478
121,121,202210,공항철도 1호선,인천공항2터미널,22707,31728,51410,13963,41852,21306,5088,121722,106827,10,2022,37.468700,126.433300
122,122,202210,공항철도 1호선,인천공항1터미널,50102,77202,94207,48260,81314,66849,15662,285107,260537,10,2022,37.447500,126.452400
123,123,202210,경인선,인천,17141,26881,57251,16061,36084,13674,7058,143824,114777,10,2022,37.476691,126.616936
124,124,202210,수인선,인천,6626,10874,12269,13185,17275,9985,5583,37607,62133,10,2022,37.476691,126.616936
145,145,202210,수인선,월곶,30281,10427,21164,31684,11377,9257,12771,95032,87240,10,2022,37.391769,126.742699
149,149,202210,수인선,원인재,44502,17944,28597,49671,15296,17945,25342,135750,139919,10,2022,37.412603,126.687389
153,153,202210,공항철도 1호선,운서,79556,36111,52803,93574,23926,33121,64980,248411,255964,10,2022,37.492904,126.493790
172,172,202210,안산선,오이도,85548,38996,69770,91545,38185,33951,47863,273462,269590,10,2022,37.362357,126.738714
183,183,202210,공항철도 1호선,영종,37946,12008,22545,42943,6540,14876,29706,115411,116438,10,2022,37.511466,126.523700
191,191,202210,수인선,연수,40664,20113,36260,50366,20042,17945,18966,145674,143087,10,2022,37.417804,126.678940
232,232,202210,수인선,신포,9827,11047,20065,13244,11873,6791,4689,56512,57151,10,2022,37.468740,126.623853
269,269,202210,수인선,숭의,35944,20716,30905,33812,16999,14970,14458,119586,110269,10,2022,37.460789,126.638297
287,287,202210,수인선,송도,26947,9152,15645,25341,6837,9025,10705,77776,71971,10,2022,37.428514,126.657772
293,293,202210,수인선,소래포구,43937,28410,63830,56875,54439,21094,20961,236247,231913,10,2022,37.400950,126.733522
366,366,202210,경인선,부평,239764,108126,222674,360900,129203,112687,145001,901939,966287,10,2022,37.489493,126.724805
370,370,202210,경인선,부개,105177,22825,42924,93028,12851,31591,47349,257431,236856,10,2022,37.488418,126.741090
389,389,202210,경인선,백운,77320,21322,37110,77117,14301,27035,39139,207444,202400,10,2022,37.483664,126.707704
446,446,202210,경인선,동인천,102170,74126,131821,116166,74590,63860,54381,430694,413774,10,2022,37.475276,126.632802
447,447,202210,경인선,동암,178907,49878,87242,194544,35457,64996,100790,484079,482313,10,2022,37.471408,126.702896
462,462,202210,경인선,도화,44884,13344,24284,39536,9405,15692,20329,124919,113993,10,2022,37.466070,126.668672
463,463,202210,경인선,도원,23396,16361,33427,24851,12901,12949,12600,102865,102568,10,2022,37.468446,126.642706
476,476,202210,일산선,대화,148129,49241,90456,108369,41181,45855,56488,412999,331553,10,2022,37.676087,126.747569
494,494,202210,수인선,달월,341,772,1696,386,823,266,255,3015,2475,10,2022,37.379681,126.745177
515,515,202210,수인선,남동인더스파크,5416,23980,32036,7499,23850,13262,2299,58266,63075,10,2022,37.407722,126.695216
561,561,202210,공항철도 1호선,공항화물청사,6698,23819,35444,6089,26295,16498,2079,60645,63878,10,2022,37.458366,126.476241
577,577,202210,경의선,계양,5,0,0,0,0,0,0,6,0,10,2022,37.571462,126.735637
578,578,202210,공항철도 1호선,계양,166359,20147,44795,152467,396,34039,84605,347747,317923,10,2022,37.571462,126.735637
582,582,202210,경강선,경기광주,110376,17530,36096,106101,6857,23919,40777,239615,222757,10,2022,37.399907,126.630347
583,583,202210,공항철도 1호선,검암,82025,19973,37383,78890,11979,25345,49103,197027,195598,10,2022,37.569104,126.673728
584,584,202210,경의선,검암,1,0,0,0,0,0,0,1,0,10,2022,37.569104,126.673728
603,603,202210,경인선,간석,62054,17605,34117,61936,12223,21611,30450,175188,163983,10,2022,37.464737,126.694181

In [155]:
b = metro_2022_10_file_3[metro_2022_10_file_3['lng'] > 127.22]
b

,index,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
33,33,202210,5호선,하남검단산,56854,28431,47135,55978,30337,27521,29943,189388,181136,10,2022,37.539800,127.223200
39,39,202210,경춘선,평내호평,74132,19799,32278,77377,15007,33345,31835,192941,187413,10,2022,37.653225,127.244493
40,40,202210,중앙선,팔당,5260,11090,13140,6457,13185,8174,1487,35541,38137,10,2022,37.547371,127.243939
53,53,202210,경춘선,춘천,7984,15024,29255,10275,18311,10095,6266,73057,62107,10,2022,37.885054,127.717023
57,57,202210,경강선,초월,41120,11197,19630,38945,7048,10325,18601,97466,92153,10,2022,37.374419,127.299000
58,58,202210,경춘선,청평,14769,10146,16167,16419,8680,9058,6399,60919,58367,10,2022,37.735488,127.426610
71,71,202210,경춘선,천마산,21460,5963,8009,18857,3991,7864,7355,52688,48840,10,2022,37.658978,127.285379
78,78,202210,중앙선,지평,629,952,398,559,1104,1180,162,2137,2306,10,2022,37.476444,127.629617
129,129,202210,경강선,이천,22416,15911,26657,29441,15663,14655,12052,90033,93506,10,2022,37.265579,127.442260
150,150,202210,중앙선,원덕,3608,2602,3579,3321,2578,2493,1590,14224,13376,10,2022,37.468672,127.547076
154,154,202210,중앙선,운길산,5218,10476,12801,4733,13593,7508,2066,35704,34852,10,2022,37.554669,127.310115
157,157,202210,중앙선,용문,13672,12688,26027,16123,21306,9552,7494,88895,88936,10,2022,37.482230,127.594647
175,175,202210,중앙선,오빈,3248,1848,2564,2965,1726,1904,1726,10701,10503,10,2022,37.506062,127.473868
195,195,202210,경강선,여주,20059,16788,25963,26726,16753,16578,14221,89635,90857,10,2022,37.282701,127.628607
202,202,202210,5호선,양평,66264,31004,60702,59446,26750,22307,31305,197599,191375,10,2022,37.492832,127.491814
203,203,202210,중앙선,양평,21022,18933,29185,27541,20318,16878,13535,106146,107981,10,2022,37.492832,127.491814
210,210,202210,중앙선,양수,16892,14252,20351,17452,15331,13413,8613,70265,69030,10,2022,37.545981,127.329098
226,226,202210,중앙선,아신,5232,3763,5773,5288,3659,3690,3406,21079,20828,10,2022,37.513820,127.443173
240,240,202210,중앙선,신원,1490,2501,2694,1159,2327,2046,610,8286,6797,10,2022,37.525545,127.372921
251,251,202210,경강선,신둔도예촌,15376,6941,14057,16238,5440,6552,9018,49987,46855,10,2022,37.317185,127.404760
294,294,202210,경강선,세종대왕릉,3323,2526,3400,3597,2386,2788,1720,12504,12960,10,2022,37.295309,127.570938
334,334,202210,경춘선,상천,2073,3806,3670,1685,3906,3237,599,13572,12265,10,2022,37.770246,127.454821
369,369,202210,경강선,부발,17768,14052,24688,21556,11590,12540,13557,74176,71817,10,2022,37.260192,127.490277
390,390,202210,경춘선,백양리,429,1120,1101,370,976,770,152,3563,3542,10,2022,37.830779,127.589330
429,429,202210,경춘선,마석,43802,20098,27016,44656,16257,26911,16388,132505,126822,10,2022,37.652782,127.311767
464,464,202210,중앙선,도심,30038,7578,13196,20972,4534,10529,10695,74017,59348,10,2022,37.579622,127.222672
480,480,202210,경춘선,대성리,5812,4326,6596,4823,3979,3685,1451,26853,24815,10,2022,37.684071,127.379319
510,510,202210,경춘선,남춘천,18642,16194,27256,26275,22073,18044,15386,100379,105897,10,2022,37.864007,127.723792
523,523,202210,경춘선,김유정,1702,4899,5877,2241,6892,3436,579,15850,18245,10,2022,37.818466,127.714340
534,534,202210,경춘선,굴봉산,723,1456,1705,689,1557,1050,309,5736,5268,10,2022,37.832067,127.557695
539,539,202210,중앙선,국수,6947,4251,6105,6839,4169,3791,3467,25938,25208,10,2022,37.516169,127.399367
568,568,202210,경강선,곤지암,20297,16575,27850,22663,16182,13066,10788,80105,78696,10,2022,37.351315,127.346740
593,593,202210,경춘선,강촌,2103,5292,8306,2964,5056,3154,1242,22213,20666,10,2022,37.805723,127.634146
604,604,202210,경춘선,가평,11402,18804,32707,13622,23537,12697,5637,82859,81675,10,2022,37.814536,127.510739

In [156]:
c = metro_2022_10_file_3[metro_2022_10_file_3['lat'] > 37.73]
c

,index,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
42,42,202210,경의선,파주,8807,8849,15694,6634,6894,4971,4023,43281,32598,10,2022,37.815298,126.792783
53,53,202210,경춘선,춘천,7984,15024,29255,10275,18311,10095,6266,73057,62107,10,2022,37.885054,127.717023
58,58,202210,경춘선,청평,14769,10146,16167,16419,8680,9058,6399,60919,58367,10,2022,37.735488,127.426610
77,77,202210,경원선,지행,70051,23241,42634,76939,17448,31656,40014,212035,210488,10,2022,37.892334,127.055716
116,116,202210,경의선,임진강,25,1030,1000,70,805,376,0,1741,1377,10,2022,37.888400,126.746900
134,134,202210,경원선,의정부,142646,85631,159564,194611,98843,81961,87667,586022,609619,10,2022,37.738415,127.045958
143,143,202210,경의선,월롱,7674,28023,44039,14047,26981,18369,13513,83857,79980,10,2022,37.796188,126.792587
206,206,202210,경원선,양주,85061,37775,56661,81003,28898,39208,41123,251535,237509,10,2022,37.774381,127.044708
291,291,202210,경원선,소요산,15706,26367,44078,11870,47236,16945,4687,137707,120736,10,2022,37.948100,127.061034
334,334,202210,경춘선,상천,2073,3806,3670,1685,3906,3237,599,13572,12265,10,2022,37.770246,127.454821
378,378,202210,경원선,보산,14796,7818,14044,16486,6031,7467,8028,53823,50031,10,2022,37.913702,127.057277
390,390,202210,경춘선,백양리,429,1120,1101,370,976,770,152,3563,3542,10,2022,37.830779,127.589330
406,406,202210,경의선,문산,46717,26425,47261,50466,24762,25418,28719,174428,172650,10,2022,37.854619,126.788047
450,450,202210,경원선,동두천중앙,28465,15795,22500,26198,12889,15933,13272,98559,95576,10,2022,37.901885,127.056482
451,451,202210,경원선,동두천,18421,25064,20159,19287,24551,22530,9681,75034,85436,10,2022,37.927878,127.054790
472,472,202210,경원선,덕정,53561,36235,50766,53609,30421,33696,27263,191669,183250,10,2022,37.843188,127.061277
474,474,202210,경원선,덕계,38218,16396,23070,34768,12177,18792,15737,107113,95177,10,2022,37.818486,127.056486
499,499,202210,경원선,녹양,49817,16611,29083,47903,10664,17426,24155,143096,134216,10,2022,37.759380,127.042292
510,510,202210,경춘선,남춘천,18642,16194,27256,26275,22073,18044,15386,100379,105897,10,2022,37.864007,127.723792
523,523,202210,경춘선,김유정,1702,4899,5877,2241,6892,3436,579,15850,18245,10,2022,37.818466,127.714340
528,528,202210,경의선,금촌,57146,31226,53909,64995,28292,31712,33423,206256,202559,10,2022,37.766217,126.774644
531,531,202210,경의선,금릉,49720,17780,36187,55165,12495,21152,29722,155415,149725,10,2022,37.751322,126.765347
534,534,202210,경춘선,굴봉산,723,1456,1705,689,1557,1050,309,5736,5268,10,2022,37.832067,127.557695
593,593,202210,경춘선,강촌,2103,5292,8306,2964,5056,3154,1242,22213,20666,10,2022,37.805723,127.634146
604,604,202210,경춘선,가평,11402,18804,32707,13622,23537,12697,5637,82859,81675,10,2022,37.814536,127.510739
613,613,202210,경원선,가능,70367,27085,40172,69986,19142,28315,32013,203552,195747,10,2022,37.748577,127.044213

In [157]:
d = metro_2022_10_file_3[metro_2022_10_file_3['lat']< 37.42]
d

,index,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
8,8,202210,경부선,화서,105135,25924,44050,106719,19085,30004,44647,251076,241931,10,2022,37.283862,126.989627
16,16,202210,수인선,호구포,24296,30657,46317,28543,27707,20341,14678,119793,121608,10,2022,37.401637,126.708627
26,26,202210,안산선,한대앞,86315,45786,72901,104997,39757,42422,51951,301023,302303,10,2022,37.309689,126.853440
37,37,202210,경부선,평택,98228,69612,124130,136997,71464,63458,53211,443825,447070,10,2022,36.990726,127.085159
38,38,202210,과천선,평촌,133314,87681,153040,141563,80512,71894,62446,486551,477112,10,2022,37.394287,126.963883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,556,202210,경부선,광명,28644,19638,31262,29518,15164,12194,9158,113545,95320,10,2022,37.416182,126.884466
559,559,202210,경부선,관악,90003,31901,44817,81754,25604,30038,39962,230002,216555,10,2022,37.419232,126.908706
568,568,202210,경강선,곤지암,20297,16575,27850,22663,16182,13066,10788,80105,78696,10,2022,37.351315,127.346740
570,570,202210,안산선,고잔,79866,45562,74538,80877,42617,36309,44518,280078,268541,10,2022,37.316777,126.823249
582,582,202210,경강선,경기광주,110376,17530,36096,106101,6857,23919,40777,239615,222757,10,2022,37.399907,126.630347

In [158]:
result1 = pd.concat([a, b, c, d])
result2 = result1.drop_duplicates()
result2

,index,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
16,16,202210,수인선,호구포,24296,30657,46317,28543,27707,20341,14678,119793,121608,10,2022,37.401637,126.708627
62,62,202210,공항철도 1호선,청라국제도시,70357,22922,52160,75317,15493,24448,45885,203473,192983,10,2022,37.555878,126.625327
92,92,202210,경인선,주안,174025,72122,139983,190933,55101,75558,104626,591527,534062,10,2022,37.464941,126.679923
100,100,202210,경인선,제물포,102139,47342,80803,99810,37267,45692,56217,323585,307527,10,2022,37.466769,126.656666
103,103,202210,안산선,정왕,59172,81419,107874,74906,80294,62668,38528,295017,302282,10,2022,37.351735,126.742989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,535,202210,경부선,군포,53913,50105,76021,48088,45214,35519,21744,206496,198340,10,2022,37.353560,126.948462
543,543,202210,분당선,구성,61974,15212,26302,66999,9513,20593,32171,150596,156578,10,2022,37.298969,127.105664
556,556,202210,경부선,광명,28644,19638,31262,29518,15164,12194,9158,113545,95320,10,2022,37.416182,126.884466
559,559,202210,경부선,관악,90003,31901,44817,81754,25604,30038,39962,230002,216555,10,2022,37.419232,126.908706
570,570,202210,안산선,고잔,79866,45562,74538,80877,42617,36309,44518,280078,268541,10,2022,37.316777,126.823249

In [159]:
metro_2022_10_file_3

,index,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,0,202210,9호선,흑석,54931,53301,81702,81208,53412,35553,37242,273661,278426,10,2022,37.508770,126.963708
1,1,202210,경의선,효창공원앞,19655,21537,33229,24689,21944,17407,13602,90735,99249,10,2022,37.539261,126.961351
2,2,202210,6호선,효창공원앞,61192,39437,64600,58864,35996,30046,28665,221619,206279,10,2022,37.539261,126.961351
3,3,202210,4호선,회현,26095,247505,365489,61824,305703,157103,18577,746376,771983,10,2022,37.558514,126.978246
4,4,202210,경원선,회룡,155874,37024,52100,152665,20594,57891,66456,383494,379285,10,2022,37.724846,127.046895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,610,202210,경부선,가산디지털단지,54534,159397,242111,91578,168761,109569,41888,456467,542963,10,2022,37.481072,126.882343
611,611,202210,8호선,가락시장,37426,48359,71155,61923,49401,40174,24963,218030,242681,10,2022,37.492522,127.118234
612,612,202210,3호선,가락시장,61056,44240,76234,73089,40509,36952,31820,256152,253412,10,2022,37.492522,127.118234
613,613,202210,경원선,가능,70367,27085,40172,69986,19142,28315,32013,203552,195747,10,2022,37.748577,127.044213
614,614,202210,우이신설선,4.19민주묘지,27665,16797,33932,26165,17415,11308,13644,114239,108826,10,2022,37.649500,127.013700

In [160]:
metro_2022_10_file_3 = metro_2022_10_file_3.drop(result2['index'].index)
metro_2022_10_file_3

,index,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,0,202210,9호선,흑석,54931,53301,81702,81208,53412,35553,37242,273661,278426,10,2022,37.508770,126.963708
1,1,202210,경의선,효창공원앞,19655,21537,33229,24689,21944,17407,13602,90735,99249,10,2022,37.539261,126.961351
2,2,202210,6호선,효창공원앞,61192,39437,64600,58864,35996,30046,28665,221619,206279,10,2022,37.539261,126.961351
3,3,202210,4호선,회현,26095,247505,365489,61824,305703,157103,18577,746376,771983,10,2022,37.558514,126.978246
4,4,202210,경원선,회룡,155874,37024,52100,152665,20594,57891,66456,383494,379285,10,2022,37.724846,127.046895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,202210,7호선,가산디지털단지,75229,392535,659751,106468,411921,224992,41783,1100489,1090286,10,2022,37.481072,126.882343
610,610,202210,경부선,가산디지털단지,54534,159397,242111,91578,168761,109569,41888,456467,542963,10,2022,37.481072,126.882343
611,611,202210,8호선,가락시장,37426,48359,71155,61923,49401,40174,24963,218030,242681,10,2022,37.492522,127.118234
612,612,202210,3호선,가락시장,61056,44240,76234,73089,40509,36952,31820,256152,253412,10,2022,37.492522,127.118234
614,614,202210,우이신설선,4.19민주묘지,27665,16797,33932,26165,17415,11308,13644,114239,108826,10,2022,37.649500,127.013700

In [161]:
metro_2022_10_file_3 = metro_2022_10_file_3.dropna()
metro_2022_10_file_3

,index,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,0,202210,9호선,흑석,54931,53301,81702,81208,53412,35553,37242,273661,278426,10,2022,37.508770,126.963708
1,1,202210,경의선,효창공원앞,19655,21537,33229,24689,21944,17407,13602,90735,99249,10,2022,37.539261,126.961351
2,2,202210,6호선,효창공원앞,61192,39437,64600,58864,35996,30046,28665,221619,206279,10,2022,37.539261,126.961351
3,3,202210,4호선,회현,26095,247505,365489,61824,305703,157103,18577,746376,771983,10,2022,37.558514,126.978246
4,4,202210,경원선,회룡,155874,37024,52100,152665,20594,57891,66456,383494,379285,10,2022,37.724846,127.046895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,202210,7호선,가산디지털단지,75229,392535,659751,106468,411921,224992,41783,1100489,1090286,10,2022,37.481072,126.882343
610,610,202210,경부선,가산디지털단지,54534,159397,242111,91578,168761,109569,41888,456467,542963,10,2022,37.481072,126.882343
611,611,202210,8호선,가락시장,37426,48359,71155,61923,49401,40174,24963,218030,242681,10,2022,37.492522,127.118234
612,612,202210,3호선,가락시장,61056,44240,76234,73089,40509,36952,31820,256152,253412,10,2022,37.492522,127.118234
614,614,202210,우이신설선,4.19민주묘지,27665,16797,33932,26165,17415,11308,13644,114239,108826,10,2022,37.649500,127.013700

In [162]:
metro_2022_10_file_3 = metro_2022_10_file_3.drop(['index'], axis = 1)
metro_2022_10_file_3 = metro_2022_10_file_3.reset_index()
metro_2022_10_file_3 = metro_2022_10_file_3.drop(['index'], axis = 1)
metro_2022_10_file_3

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도,lat,lng
0,202210,9호선,흑석,54931,53301,81702,81208,53412,35553,37242,273661,278426,10,2022,37.508770,126.963708
1,202210,경의선,효창공원앞,19655,21537,33229,24689,21944,17407,13602,90735,99249,10,2022,37.539261,126.961351
2,202210,6호선,효창공원앞,61192,39437,64600,58864,35996,30046,28665,221619,206279,10,2022,37.539261,126.961351
3,202210,4호선,회현,26095,247505,365489,61824,305703,157103,18577,746376,771983,10,2022,37.558514,126.978246
4,202210,경원선,회룡,155874,37024,52100,152665,20594,57891,66456,383494,379285,10,2022,37.724846,127.046895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,202210,7호선,가산디지털단지,75229,392535,659751,106468,411921,224992,41783,1100489,1090286,10,2022,37.481072,126.882343
446,202210,경부선,가산디지털단지,54534,159397,242111,91578,168761,109569,41888,456467,542963,10,2022,37.481072,126.882343
447,202210,8호선,가락시장,37426,48359,71155,61923,49401,40174,24963,218030,242681,10,2022,37.492522,127.118234
448,202210,3호선,가락시장,61056,44240,76234,73089,40509,36952,31820,256152,253412,10,2022,37.492522,127.118234
449,202210,우이신설선,4.19민주묘지,27665,16797,33932,26165,17415,11308,13644,114239,108826,10,2022,37.649500,127.013700

In [163]:
metro_2022_10_file_3.to_csv('./metro_2022_10_location.csv', encoding='EUC-KR')