# 서울시 지하철역별 시간별 승하차 인원 csv 파일을 다운받았습니다

- 데이터를 전처리 하는 과정을 보입니다.

In [23]:
import pandas as pd

In [24]:
metro = pd.read_csv('./seoul_station_commute.csv', encoding = 'EUC-KR')
metro

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202210,1호선,동대문,729,6,11017,1926,9398,6871,14707,...,8316,440,2216,1,191,0,0,0,0,20221103
1,202210,1호선,동묘앞,196,3,3113,1192,3766,4838,6384,...,3913,92,1782,1,306,0,0,0,0,20221103
2,202210,1호선,서울역,707,34,9180,9659,13511,55432,40840,...,14843,2421,2533,2,172,0,0,0,0,20221103
3,202210,1호선,시청,112,0,2364,5063,3908,26854,7253,...,3367,405,797,1,16,0,0,0,0,20221103
4,202210,1호선,신설동,334,13,9503,2222,9536,8484,20433,...,8583,336,2113,3,5,0,2,0,0,20221103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55108,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,633,3,222,0,0,0,0,0,0,20151223
55109,201501,중앙선,원덕,1,0,292,4,415,46,537,...,383,3,157,0,0,0,0,0,0,20151223
55110,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,6501,86,1617,0,0,0,0,0,0,20151223
55111,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,336,8,85,0,0,0,0,0,0,20151223
55112,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,35702,767,9314,0,0,0,0,0,0,20151223

# 우선 2022년 10월, 2021년 10월, 2020년 10월, 2019년 10월로 분리

# 출근시간

- 승차 : 4시~10시까지 (버스에서는 10시는 제외)
- 하차 : 7시~11시까지 (버스에서는 11시는 제외)

# 퇴근시간

- 승차 : 16시~20시까지 (버스에서는 20시는 제외)
- 하차 : 17시~21시까지 (버스에서는 21시는 제외)

# 늦게 퇴근하는 사람

- 승차 : 20시 ~ 01시 (버스에서는 20시 포함, 21시 제외) (지하철은 02시까지 탑승)
- 하차 : 21시 ~ 04시 (버스에서는 21시 포함, 04시 제외) (지하철은 04시까지 탑승)

# 점심시간

- 출근시간에 하차한 인원이 모두 점심을 먹는다 가정
- 11시 ~ 1시까지 하차한 사람 (버스에서는 1시 제외) 
- 11시 ~ 1시까지 승차한 사람 (버스에서는 1시 제외)
- 출근시간하차 11부터1시하차를 더하고 11부터1시승차를 뺀다 = 점심시간유동인구

# 저녁시간

- 출근시간에 하차한사람에서 17시부터 20시 승차한 인원을 빼고 17시부터 20시 하차한사람을 더한값
- 이 사람이 저녁을 먹는지는 중요하지 않다고 생각함 -> 어차피 상권을 지나는 유동인구이기 때문

# 모든 시간의 총승차인원

# 모든 시간의 총하차인원

In [25]:
metro['출근시간(04~09) 승차'] = metro['04시-05시 승차인원'] + metro['05시-06시 승차인원'] +\
                            metro['07시-08시 승차인원'] + metro['08시-09시 승차인원'] +\
                            metro['09시-10시 승차인원']

In [26]:
metro['출근시간(07~10) 하차'] = metro['06시-07시 하차인원'] + metro['07시-08시 하차인원'] +\
                            metro['09시-10시 하차인원'] + metro['10시-11시 하차인원']

In [27]:
metro['퇴근시간(16~20) 승차'] = metro['16시-17시 승차인원'] + metro['17시-18시 승차인원'] +\
                            metro['18시-19시 승차인원'] + metro['19시-20시 승차인원']

In [28]:
metro['퇴근시간(17~21) 하차'] = metro['17시-18시 하차인원'] + metro['18시-19시 하차인원'] +\
                            metro['19시-20시 하차인원'] + metro['20시-21시 하차인원']

In [29]:
metro['점심시간'] = metro['출근시간(07~10) 하차'] - metro['11시-12시 승차인원'] -\
                            metro['12시-13시 승차인원'] + metro['12시-13시 하차인원'] +\
                        metro['13시-14시 하차인원']

In [30]:
metro['저녁시간'] = metro['출근시간(07~10) 하차'] - metro['17시-18시 승차인원'] -\
                            metro['18시-19시 하차인원'] + metro['17시-18시 하차인원'] +\
                        metro['19시-20시 하차인원']

In [31]:
metro['늦은시간퇴근(20~02) 승차'] = metro['20시-21시 승차인원'] + metro['21시-22시 승차인원'] +\
                            metro['22시-23시 승차인원'] + metro['23시-24시 승차인원'] +\
                            metro['23시-24시 승차인원'] + metro['00시-01시 승차인원'] + metro['01시-02시 승차인원']

In [32]:
metro['늦은시간퇴근(20~02) 승차'] = metro['21시-22시 하차인원'] +\
                            metro['22시-23시 하차인원'] + metro['23시-24시 하차인원'] +\
                            metro['23시-24시 하차인원'] + metro['00시-01시 하차인원'] + \
                            metro['01시-02시 하차인원'] + metro['02시-03시 하차인원']

In [33]:
metro['총 승차 인원'] = metro['00시-01시 승차인원'] +  metro['01시-02시 승차인원'] +  metro['02시-03시 승차인원'] +\
                      metro['03시-04시 승차인원'] +  metro['04시-05시 승차인원'] +  metro['05시-06시 승차인원'] +\
                      metro['06시-07시 승차인원'] +  metro['07시-08시 승차인원'] +  metro['08시-09시 승차인원'] +\
                      metro['09시-10시 승차인원'] +  metro['10시-11시 승차인원'] +  metro['11시-12시 승차인원'] +\
                      metro['12시-13시 승차인원'] +  metro['13시-14시 승차인원'] +  metro['14시-15시 승차인원'] +\
                      metro['15시-16시 승차인원'] +  metro['16시-17시 승차인원'] +  metro['17시-18시 승차인원'] +\
                      metro['18시-19시 승차인원'] +  metro['19시-20시 승차인원'] +  metro['20시-21시 승차인원'] +\
                      metro['21시-22시 승차인원'] +  metro['22시-23시 승차인원'] +  metro['23시-24시 승차인원']

In [34]:
metro['총 하차 인원'] = metro['00시-01시 하차인원'] +  metro['01시-02시 하차인원'] +  metro['02시-03시 하차인원'] +\
                      metro['03시-04시 하차인원'] +  metro['04시-05시 하차인원'] +  metro['05시-06시 하차인원'] +\
                      metro['06시-07시 하차인원'] +  metro['07시-08시 하차인원'] +  metro['08시-09시 하차인원'] +\
                      metro['09시-10시 하차인원'] +  metro['10시-11시 하차인원'] +  metro['11시-12시 하차인원'] +\
                      metro['12시-13시 하차인원'] +  metro['13시-14시 하차인원'] +  metro['14시-15시 하차인원'] +\
                      metro['15시-16시 하차인원'] +  metro['16시-17시 하차인원'] +  metro['17시-18시 하차인원'] +\
                      metro['18시-19시 하차인원'] +  metro['19시-20시 하차인원'] +  metro['20시-21시 하차인원'] +\
                      metro['21시-22시 하차인원'] +  metro['22시-23시 하차인원'] +  metro['23시-24시 하차인원']

In [35]:
metro = metro.drop(['00시-01시 승차인원', '01시-02시 승차인원' ,'02시-03시 승차인원',
                      '03시-04시 승차인원', '04시-05시 승차인원' ,'05시-06시 승차인원',
                      '06시-07시 승차인원', '07시-08시 승차인원', '08시-09시 승차인원',
                      '09시-10시 승차인원', '10시-11시 승차인원', '11시-12시 승차인원',
                      '12시-13시 승차인원', '13시-14시 승차인원', '14시-15시 승차인원',
                      '15시-16시 승차인원', '16시-17시 승차인원', '17시-18시 승차인원',
                      '18시-19시 승차인원', '19시-20시 승차인원', '20시-21시 승차인원',
                      '21시-22시 승차인원', '22시-23시 승차인원', '23시-24시 승차인원'], axis = 1)

In [36]:
metro = metro.drop(['00시-01시 하차인원', '01시-02시 하차인원' ,'02시-03시 하차인원',
                      '03시-04시 하차인원', '04시-05시 하차인원' ,'05시-06시 하차인원',
                      '06시-07시 하차인원', '07시-08시 하차인원', '08시-09시 하차인원',
                      '09시-10시 하차인원', '10시-11시 하차인원', '11시-12시 하차인원',
                      '12시-13시 하차인원', '13시-14시 하차인원', '14시-15시 하차인원',
                      '15시-16시 하차인원', '16시-17시 하차인원', '17시-18시 하차인원',
                      '18시-19시 하차인원', '19시-20시 하차인원', '20시-21시 하차인원',
                      '21시-22시 하차인원', '22시-23시 하차인원', '23시-24시 하차인원'], axis = 1)

In [37]:
metro = metro.drop(['작업일자'], axis = 1)

In [38]:
metro

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원
0,202210,1호선,동대문,64738,65367,97520,75187,75472,57151,41301,355577,343508
1,202210,1호선,동묘앞,30339,56932,105808,38893,89322,33701,21747,310744,323734
2,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241
3,202210,1호선,시청,31653,231553,378920,82100,285755,155949,20663,757962,771444
4,202210,1호선,신설동,79771,86409,140613,89209,83295,64077,45002,401725,387550
...,...,...,...,...,...,...,...,...,...,...,...,...
55108,201501,중앙선,운길산,4386,8021,10989,4744,9501,5989,3023,31355,27964
55109,201501,중앙선,원덕,2633,1064,1776,2782,700,1311,1666,9302,8835
55110,201501,중앙선,중랑,67223,16849,31386,69119,9305,24233,37357,180969,173412
55111,201501,중앙선,팔당,3195,7535,7079,2870,7775,6181,1415,20806,19999
55112,201501,중앙선,회기,216128,111817,213839,270647,100821,114801,181082,858534,842898

In [39]:
str(metro['사용월'][0])[4:]

'10'

In [40]:
metro['사용월'] = metro['사용월'].apply(str)
#metro = metro[metro['월'].isin([10])]
metro

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원
0,202210,1호선,동대문,64738,65367,97520,75187,75472,57151,41301,355577,343508
1,202210,1호선,동묘앞,30339,56932,105808,38893,89322,33701,21747,310744,323734
2,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241
3,202210,1호선,시청,31653,231553,378920,82100,285755,155949,20663,757962,771444
4,202210,1호선,신설동,79771,86409,140613,89209,83295,64077,45002,401725,387550
...,...,...,...,...,...,...,...,...,...,...,...,...
55108,201501,중앙선,운길산,4386,8021,10989,4744,9501,5989,3023,31355,27964
55109,201501,중앙선,원덕,2633,1064,1776,2782,700,1311,1666,9302,8835
55110,201501,중앙선,중랑,67223,16849,31386,69119,9305,24233,37357,180969,173412
55111,201501,중앙선,팔당,3195,7535,7079,2870,7775,6181,1415,20806,19999
55112,201501,중앙선,회기,216128,111817,213839,270647,100821,114801,181082,858534,842898

In [41]:
metro['월'] = metro['사용월'].str[4:]
metro['연도'] = metro['사용월'].str[:4]
metro

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도
0,202210,1호선,동대문,64738,65367,97520,75187,75472,57151,41301,355577,343508,10,2022
1,202210,1호선,동묘앞,30339,56932,105808,38893,89322,33701,21747,310744,323734,10,2022
2,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241,10,2022
3,202210,1호선,시청,31653,231553,378920,82100,285755,155949,20663,757962,771444,10,2022
4,202210,1호선,신설동,79771,86409,140613,89209,83295,64077,45002,401725,387550,10,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55108,201501,중앙선,운길산,4386,8021,10989,4744,9501,5989,3023,31355,27964,01,2015
55109,201501,중앙선,원덕,2633,1064,1776,2782,700,1311,1666,9302,8835,01,2015
55110,201501,중앙선,중랑,67223,16849,31386,69119,9305,24233,37357,180969,173412,01,2015
55111,201501,중앙선,팔당,3195,7535,7079,2870,7775,6181,1415,20806,19999,01,2015
55112,201501,중앙선,회기,216128,111817,213839,270647,100821,114801,181082,858534,842898,01,2015

In [42]:
metro = metro[metro['월'].isin(["10"])]
metro = metro[metro['연도'].isin(["2022", "2021", "2020", "2019"])]
metro

,사용월,호선명,지하철역,출근시간(04~09) 승차,출근시간(07~10) 하차,퇴근시간(16~20) 승차,퇴근시간(17~21) 하차,점심시간,저녁시간,늦은시간퇴근(20~02) 승차,총 승차 인원,총 하차 인원,월,연도
0,202210,1호선,동대문,64738,65367,97520,75187,75472,57151,41301,355577,343508,10,2022
1,202210,1호선,동묘앞,30339,56932,105808,38893,89322,33701,21747,310744,323734,10,2022
2,202210,1호선,서울역,183290,397448,595245,309135,400980,300098,105585,1526169,1490241,10,2022
3,202210,1호선,시청,31653,231553,378920,82100,285755,155949,20663,757962,771444,10,2022
4,202210,1호선,신설동,79771,86409,140613,89209,83295,64077,45002,401725,387550,10,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22397,201910,중앙선,원덕,4598,2322,3441,4102,2064,2423,2574,15013,14476,10,2019
22398,201910,중앙선,중랑,73547,18313,32200,71061,11300,22801,34781,187293,176792,10,2019
22399,201910,중앙선,지평,612,710,1147,244,708,761,0,2191,1654,10,2019
22400,201910,중앙선,팔당,5113,10112,13106,6960,12227,7754,1831,35461,36611,10,2019
22401,201910,중앙선,회기,219557,157146,266999,280758,147220,130603,182249,966974,935461,10,2019

In [43]:
metro_2022_10 =  metro[metro['연도'].isin(["2022"])]
metro_2022_10.to_csv('./metro_2022.csv', index=False)

metro_2021_10 =  metro[metro['연도'].isin(["2021"])]
metro_2021_10.to_csv('./metro_2021.csv', index=False)

metro_2020_10 =  metro[metro['연도'].isin(["2020"])]
metro_2020_10.to_csv('./metro_2020.csv', index=False)

metro_2019_10 = metro[metro['연도'].isin(["2019"])]
metro_2019_10.to_csv('./metro_2019.csv', index=False)